!include ../my.cnf

[mysqld.1]
log-slave-updates

[mysqld.2]
plugin_dir=@env.KEYRING_PLUGIN_DIR
early-plugin-load=@env.KEYRING_PLUGIN
loose-keyring_file_data=../../tmp/keyring2
master-info-repository=TABLE
relay-log-info-repository=TABLE
log-slave-updates
encrypt-binlog=1
master-verify-checksum=1

[mysqld.3]

log-slave-updates

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket

