!include ../rpl_1slave_base.cnf
!include include/default_client.cnf

[mysqld.1]
gtid-mode=ON
enforce-gtid-consistency=ON
log-bin

[mysqld.2]
gtid-mode=ON
enforce-gtid-consistency=ON
log-bin
log-slave-updates

[mysqld.3]
gtid-mode=ON
enforce-gtid-consistency=ON
skip-log-bin

[ENV]
SERVER_MYPORT_3= @mysqld.3.port
