[submodule "PerconaFT"]
	path = storage/tokudb/PerconaFT
	url = https://github.com/percona/PerconaFT.git
[submodule "Percona-TokuBackup"]
	path = plugin/tokudb-backup-plugin/Percona-TokuBackup
	url = https://github.com/percona/Percona-TokuBackup.git
