[submodule "storage/rocksdb/rocksdb"]
	path = storage/rocksdb/rocksdb
	url = https://github.com/percona/rocksdb.git
[submodule "extra/coredumper"]
	path = extra/coredumper
	url = https://github.com/Percona-Lab/coredumper.git
[submodule "extra/libkmip"]
	path = extra/libkmip
	url = https://github.com/Percona-Lab/libkmip.git
[submodule "extra/zlib-ng/zlib-ng"]
	path = extra/zlib-ng/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
