[submodule "PerconaFT"]
	path = storage/tokudb/PerconaFT
	url = https://github.com/percona/PerconaFT.git
[submodule "Percona-TokuBackup"]
	path = plugin/tokudb-backup-plugin/Percona-TokuBackup
	url = https://github.com/percona/Percona-TokuBackup.git
[submodule "storage/rocksdb/rocksdb"]
	path = storage/rocksdb/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "extra/coredumper"]
	path = extra/coredumper
	url = https://github.com/Percona-Lab/coredumper.git
[submodule "storage/rocksdb/rocksdb_plugins/zenfs"]
	path = storage/rocksdb/rocksdb_plugins/zenfs
	url = https://github.com/westerndigitalcorporation/zenfs.git
[submodule "extra/libzbd"]
	path = extra/libzbd
	url = https://github.com/westerndigitalcorporation/libzbd.git
