configure
Makefile.in
Makefile
.deps
*.lo
*.o
INSTALL
stamp-h1
libtool
ltmain.sh
missing
install-sh
autom4te.cache
config.h*
config.status
config.guess
config.sub
config.log
TAGS
aclocal.m4
.libs
ltmain.sh
*.la
handlersocket/*.spec
libhsclient/*.spec
perl-Net-HandlerSocket/*.spec
