# Ubuntu 14.04
dist: trusty
sudo: required
language: cpp

cache:
  ccache: true
  directories:
    - $HOME/.ccache
    - /usr/local/Cellar          # cache homebrew packages for macOS

env:
  global:
    - CCACHE_DIR=$HOME/.ccache
    - CCACHE_COMPRESS=1
    - CCACHE_MAXSIZE=500M
    - CCACHE_CPP2=1
    - MAINTAINER_MODE=ON
    - WITHOUT_TOKUDB=ON
    - WITHOUT_ROCKSDB=ON
    - WITH_MECAB=system

matrix:
  include:
    # 1
    - env: COMMAND=clang-test
      script:
        - wget https://llvm.org/svn/llvm-project/cfe/trunk/tools/clang-format/clang-format-diff.py
        - chmod a+x clang-format-diff.py
        - git diff -U0 --no-color HEAD^1 | ./clang-format-diff.py -p1 >_GIT_DIFF
        - '[ ! -s _GIT_DIFF ] && echo The last git commit is clang-formatted || cat _GIT_DIFF'
    # 2
    - os: osx
      osx_image: xcode9.2
      env: BUILD=Debug LIBTYPE=bundled MAINTAINER_MODE=OFF WITHOUT_TOKUDB=ON WITHOUT_ROCKSDB=ON WITH_MECAB=
    # 3
    - os: osx
      osx_image: xcode9.2
      env: BUILD=RelWithDebInfo LIBTYPE=bundled MAINTAINER_MODE=OFF WITHOUT_TOKUDB=ON WITHOUT_ROCKSDB=ON WITH_MECAB=
    # 4
    - compiler: gcc
      env: VERSION=4.8  BUILD=Debug           LIBTYPE=system
    # 5
    - compiler: gcc
      env: VERSION=4.8  BUILD=RelWithDebInfo  LIBTYPE=system
    # 6
    - compiler: gcc
      env: VERSION=7    BUILD=Debug           LIBTYPE=system
    # 7
    - compiler: gcc
      env: VERSION=7    BUILD=RelWithDebInfo  LIBTYPE=system
    # 8
    - compiler: gcc
      env: VERSION=7    BUILD=Debug           LIBTYPE=bundled CMAKE_OPT="-DWITH_PAM=1"
    # 9
    - compiler: gcc
      env: VERSION=7    BUILD=RelWithDebInfo  LIBTYPE=bundled CMAKE_OPT="-DWITH_PAM=1"
    # 10
    - compiler: clang
      env: VERSION=5.0  BUILD=Debug           LIBTYPE=system
    # 11
    - compiler: clang
      env: VERSION=5.0  BUILD=RelWithDebInfo  LIBTYPE=system
    # 12
    - compiler: gcc
      env: VERSION=5    BUILD=Debug           LIBTYPE=system
    # 13
    - compiler: gcc
      env: VERSION=5    BUILD=RelWithDebInfo  LIBTYPE=system
    # 14
    - compiler: gcc
      env: VERSION=6    BUILD=Debug           LIBTYPE=system
    # 15
    - compiler: gcc
      env: VERSION=6    BUILD=RelWithDebInfo  LIBTYPE=system
    # 16
    - compiler: clang
      env: VERSION=4.0  BUILD=Debug           LIBTYPE=system
    # 17
    - compiler: clang
      env: VERSION=4.0  BUILD=RelWithDebInfo  LIBTYPE=system
    # 18
    - compiler: clang
      env: VERSION=5.0  BUILD=Debug           LIBTYPE=bundled CMAKE_OPT="-DWITH_PAM=1"
    # 19
    - compiler: clang
      env: VERSION=5.0  BUILD=RelWithDebInfo  LIBTYPE=bundled CMAKE_OPT="-DWITH_PAM=1"

script:
  - JOB_NUMBER=$(echo $TRAVIS_JOB_NUMBER | sed -e 's:[0-9][0-9]*\.\(.*\):\1:')
  - echo PACKAGES=$PACKAGES MAINTAINER_MODE=$MAINTAINER_MODE WITHOUT_TOKUDB=$WITHOUT_TOKUDB JOB_NUMBER=$JOB_NUMBER TRAVIS_REPO_SLUG=$TRAVIS_REPO_SLUG TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_EVENT_TYPE=$TRAVIS_EVENT_TYPE TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST

  # Perform all Travis jobs or only jobs that are included in ENV_VAR_JOB_NUMBERS list if it's defined
  - JOB_NUMBERS="1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24";
  - if [[ "$ENV_VAR_JOB_NUMBERS" != "" ]]; then
       JOB_NUMBERS=$ENV_VAR_JOB_NUMBERS;
    fi
  - JOB_ARRAY=(${JOB_NUMBERS// / })
  - if [[ ! " ${JOB_ARRAY[@]} " =~ " ${JOB_NUMBER} " ]]; then
       echo Finishing as job ${JOB_NUMBER} is not on a list = $JOB_NUMBERS;
       travis_terminate 0; 
    fi

  # Configure required LLVM and Ubuntu Toolchain repositories
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CC" == "clang" ]]; then
       PACKAGES="$PACKAGES llvm-$VERSION-dev";
       curl -sSL "http://apt.llvm.org/llvm-snapshot.gpg.key" | sudo -E apt-key add -;
       echo "deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-$VERSION main" | sudo tee -a /etc/apt/sources.list > /dev/null;
    fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$CC" == "gcc" ]]; then
       sudo -E apt-add-repository -y "ppa:ubuntu-toolchain-r/test";
    fi

  # Update list of packages and download dependencies
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
       CC=$CC-$VERSION;
       CXX=$CXX-$VERSION;
       sudo -E apt-get -yq update >> ~/apt-get-update.log 2>&1;
       sudo -E apt-get -yq --no-install-suggests --no-install-recommends install $CXX $PACKAGES cmake cmake-curses-gui bison libncurses5-dev libaio-dev libssl-dev libevent-dev libmecab-dev || travis_terminate 1;
       sudo ln -s $(which ccache) /usr/lib/ccache/$CC;
       sudo ln -s $(which ccache) /usr/lib/ccache/$CXX || echo;
    else
       brew update;
       brew install ccache;
       brew link ccache;
       export PATH="/usr/local/opt/ccache/libexec:$PATH";
    fi

  # Test Debug or RelWithDebInfo compilation
  - mkdir bin; cd bin
  - $CC -v
  - $CXX -v
  - ccache --version
  - cmake ..
    -DCMAKE_BUILD_TYPE=$BUILD
    -DMYSQL_MAINTAINER_MODE=$MAINTAINER_MODE
    -DBUILD_CONFIG=mysql_release
    -DFEATURE_SET=community
    -DENABLE_DTRACE=OFF
    -DENABLE_DOWNLOADS=1
    -DDOWNLOAD_BOOST=1
    -DWITH_BOOST=../deps
    -DWITH_SSL=$LIBTYPE
    -DWITH_ZLIB=$LIBTYPE
    -DWITH_LIBEVENT=$LIBTYPE
    -DWITH_MECAB=$WITH_MECAB
    -DWITHOUT_TOKUDB=$WITHOUT_TOKUDB
    -DWITHOUT_ROCKSDB=$WITHOUT_ROCKSDB
     $CMAKE_OPT
  - make -j2
  - ccache --show-stats

