configure
Makefile.in
Makefile
.deps
*.lo
*.o
INSTALL
m4
stamp-h1
libtool
ltmain.sh
missing
install-sh
autom4te.cache
config.h*
config.status
config.guess
config.sub
config.log
depcomp
TAGS
aclocal.m4
.libs
ltmain.sh
*.la
handlersocket/Makefile.plain
handlersocket/*.spec
libhsclient/*.spec
client/hstest
client/hsclient
perl-Net-HandlerSocket/*.spec
regtest/*/*.log
regtest/*/*.log2
regtest/*/DONE
dist/*
ar-lib
