#
# Percona Server systemd service file
#

[Unit]
Description=Percona Server
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=mysql
Group=mysql
PermissionsStartOnly=true
EnvironmentFile=-/etc/default/mysql
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre
ExecStartPre=/usr/bin/ps_mysqld_helper
ExecStart=/usr/sbin/mysqld --daemonize --pid-file=/var/run/mysqld/mysqld.pid $MYSQLD_OPTS
TimeoutSec=600
Restart=on-failure
RestartPreventExitStatus=1
