#
# Percona Server systemd service file
#

[Unit]
Description=Percona Server
After=network.target
After=local-fs.target remote-fs.target
Requires=local-fs.target remote-fs.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=mysql
Group=mysql
PermissionsStartOnly=true
EnvironmentFile=-/etc/default/mysql
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre @%I
ExecStartPre=/usr/bin/ps_mysqld_helper
ExecStart=/usr/sbin/mysqld --defaults-group-suffix=@%I --daemonize --pid-file=/var/run/mysqld/mysqld-%i.pid $MYSQLD_OPTS
TimeoutSec=0
Restart=on-failure
RestartPreventExitStatus=1
