#!/bin/bash

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] && [ -z "$2" ];
then

	set -e

	PKG_LIST=percona-server-server-5.5:percona-server-server-5.6:percona-server-server-5.7
	INSTALLED_PKG=none
	MYSQLDATA=/var/lib/mysql

	IFS_BACKUP=${IFS}
	IFS=":"
	for PKG in ${PKG_LIST};
	do
		STATUS=$(dpkg -s ${PKG} 2> /dev/null | grep Status: | cut -d' ' -f4)
		if [ "${STATUS}" = "installed" ];
		then
			INSTALLED_PKG=${PKG}
			break
		fi
	done
	IFS=${IFS_BACKUP}

	if [ "${INSTALLED_PKG}" = "none" ];
	then
		if [ -d ${MYSQLDATA} -o -L ${MYSQLDATA} ];
		then
			db_input high percona-server-server/data-dir || true
		else
			db_fset percona-server-server/data-dir seen true
		fi

		while :; do
			PASSWD=""
			db_input high percona-server-server/root-pass || true
			db_go

			db_get percona-server-server/root-pass
			if [ -z "${RET}" ];
			then
				db_fset percona-server-server/root-pass seen true
				db_fset percona-server-server/re-root-pass seen true
				break
			fi
			PASSWD="${RET}"

			db_input high percona-server-server/re-root-pass || true
			db_go

			db_get percona-server-server/re-root-pass
			if [ "${RET}" == "${PASSWD}" ];
			then
				PASSWD=""
				break
			fi

			db_fset percona-server-server/root-pass-mismatch seen false
			db_input critical percona-server-server/root-pass-mismatch
			db_set percona-server-server/root-pass ""
			db_set percona-server-server/re-root-pass ""
		done

	else
		db_fset percona-server-server/data-dir seen true
		db_fset percona-server-server/root-pass seen true
		db_fset percona-server-server/re-root-pass seen true
	fi

	set +e
fi
# The following should also be shown on upgrades
if [ "$1" = "configure" ];
then
	set -e
	OVERRIDEFILE="/etc/mysql/mysql.conf.d/default-auth-override.cnf"
	if [ ! -e "$OVERRIDEFILE" ]; then
		db_input high percona-server-server/default-auth-override || true
		db_go
	fi
	set +e
fi
