#
# Percona Server systemd service file
#

[Unit]
Description=Percona Server
After=network.target
After=local-fs.target remote-fs.target
Requires=local-fs.target remote-fs.target

[Install]
WantedBy=multi-user.target

[Service]
User=mysql
Group=mysql
Type=notify
PermissionsStartOnly=true
ExecStartPre=/usr/share/mysql/mysql-systemd-start pre
EnvironmentFile=-/etc/default/mysql
ExecStart=/usr/sbin/mysqld $MYSQLD_OPTS
TimeoutSec=600
LimitNOFILE = 10000
Restart=on-failure
RestartPreventExitStatus=1
# Always restart when mysqld exits with exit code of 16. This special exit code
# is used by mysqld for RESTART SQL.
RestartForceExitStatus=16
# Set enviroment variable MYSQLD_PARENT_PID. This is required for restart.
Environment=MYSQLD_PARENT_PID=1
RuntimeDirectory=mysqld
RuntimeDirectoryMode=755
