#
# Systemd service file for Percona Server
#
# # This service file is to start PS just with mysqld_safe
#

[Unit]
Description=MySQL Percona Server
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=mysql.service

[Service]
# Needed to create system tables etc.
ExecStartPre=/usr/bin/mysql-systemd pre

# Start main service
ExecStart=/usr/bin/mysqld_safe

# Don't signal startup success before a ping works
ExecStartPost=/usr/bin/mysql-systemd post

# Give up if ping don't get an answer
TimeoutSec=600

Restart=always
PrivateTmp=false

