sphinx-autobuild==2020.9.1
sphinx-copybutton
sphinx-markdown-builder
sphinx-material @ git+https://github.com/bashtage/sphinx-material.git@3c3d1533a8ef09dad6987e06fc5375867c18c529
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinx-gitstamp
sphinxcontrib-jsmath
sphinxcontrib-osexample
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
idna>=3.7 # not directly required, pinned by Snyk to avoid a vulnerability
jinja2>=3.1.4 # not directly required, pinned by Snyk to avoid a vulnerability
pydash>=6.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.15.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sphinx>=3.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.4.1 # not directly required, pinned by Snyk to avoid a vulnerability