-e git+https://github.com/bitprophet/alabaster/@3b68afcfe55a80508254b22904294100a160e6a7#egg=alabaster
astroid==2.5.1
Babel==2.8.0
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
commonmark==0.9.1
css-html-js-minify==2.5.5
docutils==0.16
gitdb==4.0.7
GitPython==3.1.17
html2text==2020.1.16
idna==2.10
imagesize==1.2.0
isort==5.8.0
Jinja2==2.11.2
lazy-object-proxy==1.6.0
livereload==2.6.3
lxml==4.6.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.4
protobuf==3.15.8
pycairo==1.20.0
pydash==4.9.0
Pygments==2.7.2
PyGObject==3.40.1
pylint==2.7.2
pyparsing==2.4.7
python-slugify==4.0.1
pytz==2020.4
recommonmark==0.7.1
requests==2.24.0
six==1.15.0
smmap==4.0.0
snowballstemmer==2.0.0
soupsieve==2.2.1
Sphinx==3.3.0
sphinx-autobuild==2020.9.1
sphinx-copybutton==0.3.1
sphinx-markdown-builder==0.5.4
sphinx-material @ git+https://github.com/bashtage/sphinx-material.git@3c3d1533a8ef09dad6987e06fc5375867c18c529
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
text-unidecode==1.3
toml==0.10.2
tornado==6.1
Unidecode==1.2.0
unify==0.5
untokenize==0.1.1
urllib3==1.25.11
wrapt==1.12.1
yapf==0.30.0
