!include ../my.cnf

[mysqld.1]
gtid_mode=ON
enforce-gtid-consistency

[mysqld.2]
gtid_mode=ON
enforce-gtid-consistency

[mysqld.3]
gtid_mode=ON
enforce-gtid-consistency
sync_master_info=0

[ENV]
SERVER_MYPORT_3=@mysqld.3.port
SERVER_MYSOCK_3=@mysqld.3.socket
