!include include/default_my.cnf

[mysqld.1]
loose-thread-handling= pool-of-threads
loose-thread_pool_high_prio_mode= none
loose-thread_pool_high_prio_tickets= 0
loose-thread_pool_size= 2
loose-thread_pool_max_threads= 4
extra-port= @OPT.port

[client]
connect-timeout= 2

[ENV]
MASTER_EXTRA_PORT= @OPT.port
