!include my.cnf

[mysqld.1]
gtid-mode=ON
enforce-gtid-consistency=ON
binlog-format='STATEMENT'

[mysqld.2]
plugin_dir=@env.KEYRING_PLUGIN_DIR
early-plugin-load=@env.KEYRING_PLUGIN
keyring_file_data=../../tmp/keyring2
gtid-mode=ON
enforce-gtid-consistency=ON
binlog-format='STATEMENT'
