!include my.cnf

[mysqld.1]
gtid-mode=ON
enforce-gtid-consistency=ON
binlog-format='STATEMENT'
encrypt_binlog=1

[mysqld.2]
gtid-mode=ON
enforce-gtid-consistency=ON
binlog-format='STATEMENT'
plugin_dir=@env.KEYRING_PLUGIN_DIR
early-plugin-load=@env.KEYRING_PLUGIN
keyring_file_data=../../tmp/keyring2
encrypt_binlog=1
master-verify-checksum=1
